<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
    margin-bottom: 50px;
  }
  
</style>

<div class="container">
  <div>
    <h3>
      {{ title }}
    </h3>
    Link to 
    <a href="https://github.com/ratribiana/ng-multiselect-dropdown-bug"
      >Github Code</a
    >
  </div>
  <div class="container">
    <div class="spacer"></div>
    <div class="row">
      <div class="col">
        <ng-multiselect-dropdown
          name="country"
          [placeholder]="'Select City'"
          [settings]="dropdownSettings"
          [data]="countries"
          [(ngModel)]="selCountries"
          
        >
          <ng-template
            #optionsTemplate
            let-item
            let-option="option"
            let-id="id"
            let-isSelected="isSelected"
          >
            <div
              style="
                padding: 1px 10px;
                margin-right: 10px;
                right: 2px;
                top: -2px;
              "
            >
              <img
                [src]="getItems[id].image"
                style="width: 18px; margin: 0 20px;"
              />
              <label
                style="color: #333; min-width: 130px; font-weight: normal;"
                [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getItems[id].isDisabled? 'lightgrey': ''}"
                >{{getItems[id].item_text}}</label
              >
            </div>
          </ng-template>
          <ng-template #optionSelectedTemplate let-option="option" let-id="id">
            <div>
              <img
                [src]="getItems[id].image"
                style="width: 18px; margin-right: 2px;"
              />
              {{option}} - test
            </div>
          </ng-template>
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
</div>
